:root{
    --celeste: rgb(27, 147, 239);
    --celesteHover: rgb(66, 173, 255);
    --celesteActive: rgb(151, 210, 255);
    --negroMedio: rgba(0, 0, 0, 0.5);
    --grisOscuro: rgb(41, 41, 41);
    --gris: rgba(108, 108, 108, 0.628);
    --grisClaro: rgb(223, 223, 223);
    --rojoClaro: rgb(220, 105, 105);
}
/***** Css Reset *****/  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***** End Css Reset *****/
body{
    font-family: 'Times New Roman', Times, serif;
}


.contentMain{
    height: 100vh;
}

form::after{
    content: '';
    clear: both;
    display: block;
}

form.productForm{
    margin-left: 25%;
    width: 50%;
    padding: 10px;
    border: 2.5px solid var(--grisOscuro);
    border-radius: 5px;
    background: var(--grisClaro);
}

form label{
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}

.productFormInput{
    width: 100%;
    height: 25px;
    border: 1px solid var(--gris);
    border-radius: 5px; 
}

.productFormInputContainer{
    margin-bottom: 20px;
}

div#productFormContainer{
    padding-top: 50px;
}

.productBtn{
    background: var(--celeste);
    border: 1px solid var(--gris);
    border-radius: 7px;
    padding: 15px;
    font-size: 20px;
    float: right;
    margin-right: 5px;
}

p.responseMessage{
    font-size: 25px;
    text-align: center;
    margin-top: 33px;
    background: var(--grisClaro);
    padding: 15px;
    background-size: 50%;
}

p.responseMessage__error{
    background: var(--rojoClaro);
}

p.responseMessage__success{
    background-color: var(--celesteActive);
}


.productDescriptionTextarea{
    width: 100%;
    height: 100px;
    border: 1px solid var(--gris);
    border-radius: 5px;
}
