:root{
    --celeste: rgb(27, 147, 239);
    --celesteHover: rgb(66, 173, 255);
    --celesteActive: rgb(151, 210, 255);
    --negroMedio: rgba(0, 0, 0, 0.5);
    --grisOscuro: rgb(41, 41, 41);
    --gris: rgba(108, 108, 108, 0.628);
    --grisClaro: rgb(223, 223, 223);
}
/***** Css Reset *****/  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***** End Css Reset *****/
body{
    font-family: 'Times New Roman', Times, serif;
}

.sidebar{
    width: 25%;
    background: var(--grisOscuro);
    height: 100%;
}

.contentIcons{
    width: 75%;
    background: var(--grisClaro);
}

.sidebar h3{
    font-size: 80px;
    color: var(--celeste);
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}
.sidebarUser{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--celeste);

}
.sidebarUser img{
    position: relative;
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--celeste);
    vertical-align: middle;
    margin-left: -140px;
}
.sidebarUser span{
    position: absolute;
    top:16%;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
    
}
.menuLists{
    margin-top: 30px;
}
.menuLists li{
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    list-style: none;
    margin-bottom: 35px; 
}
.menuLists li a{
    text-decoration: none;
    color: white;
    margin-left: 110px;
}
.menuLists li a i{
    font-size: 40px;
}
.menuLists li:hover{
    background: var(--celeste);
    color: white;
    transition: 0.08s;
}
