:root{
    --celeste: rgb(27, 147, 239);
    --celesteHover: rgb(66, 173, 255);
    --celesteActive: rgb(151, 210, 255);
    --negroMedio: rgba(0, 0, 0, 0.5);
    --grisOscuro: rgb(41, 41, 41);
    --gris: rgba(108, 108, 108, 0.628);
    --grisClaro: rgb(223, 223, 223);
}
/***** Css Reset *****/  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***** End Css Reset *****/
body{
    font-family: 'Times New Roman', Times, serif;
}

.menuLists li.liMainMenu li{
    font-size: 30px;
    padding-top: 20px;
    text-transform: none;
}

.menuLists li.liMainMenu li i{
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 15px;
}

.menuLists li.liMainMenu a i.menuIcons1angle{
    font-size: 20px;
    margin-left: 15px;
    vertical-align: middle;
    margin-right: 50px;
}